*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* html,
body {
    height: 100%;
} */

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

#colorbg {
    position: relative;
    margin: 25vh auto auto auto;
    z-index: -1;
    width: 50vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, .2);
}

main {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 3rem;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    grid-gap: 1rem;
}

dl {
    background-color: rgba(255, 255, 255, .4);
    padding: 2rem 1.5rem;
}

dt {
    font-size: 1.25rem;
    font-style: italic;
    margin: auto auto .25rem auto;
    text-align: center;
    
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, .4);
}